@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

html, body {
  width: 320p;
  height:  100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow-x: hidden;
}

.ic_menu {
  position: absolute;
  width: 20px;
  height: 14px;
  left: 284px;
  top: 19px;
  background: #fff;
}

h1 {
  width: 220px;
  height: 70px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

h2 {
  width: 181px;
  height: 50px;
  left: 16px;
  padding-left: 16px;
  top: 672px;

  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
}

h3 {
  width: 264px;
height: 16px;
left: 20px;
top: 960px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
padding-left: 16px;
}

ul {
  padding-left: 16px;
}

.greeting {

  width: 320px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: #fff;
  flex: 1;
  left: 16px;
}

.greetingtwo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  width: 290px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  margin-right: 0px;
}

div.box {
  width: 320px;
}

div {
  width: 320px;
}
.button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-left: 15px;
  color: #fff;
}

a:link { 
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background: #e5e5e5;
  color: #1a2236;
}
a:active {
  text-decoration: none;
}

header.wrapper {
  max-width: 320px;
}
.geometrytop {
  flex-direction: row;
  justify-self: flex-start;
  width: 375px;
  padding-left: 0px;
  order: 0;
  width: 111px;
  height: 74px;
}

.geometrybottom {
  width: 320px;
  height: 160px;
  left: 0;
  top: 472px;
  align-self: flex-end;
  padding-top: 50px;
  padding-bottom: 40px;
}

/* Rectangle 20 */

.box a {
  box-sizing: border-box;
  display: flex;
  padding-top: 20px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 40px;
  background: #1a2236;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  justify-content: center;
}

.rectangle21 {

  width: 320px;
  height: 186px;
  left: 0;
  top: 754px;
}

.works {
  background-color: #1a2236;
  width: 320px;
  height: 156px;
  left: 16px;
  top: 940px;
  text-align: start;
  padding-top: 10px;
  padding-left: 16pxpx;
  column-gap: 10px;
  row-gap: 15px;
}

.works > div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'Poppins';
  font-size: normal;
  justify-content: stretch;
}

.works > div {
  text-align: start;
  font-size: normal;
  justify-content: flex-start;
  list-style-type: none;
}

.item1 {
  display: inline-block;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 60px;
  height: 25px;
  padding-top: 11px;
  padding-right: 20px;
  padding-left: 16px;
  padding-bottom: 0;
  background: #98dede;
  
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 10.3334px;
line-height: 80%;
color: #1a2236;
margin-right: 15px;
margin-left: 0;
}

.item2 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 25px;
  height: 21px;
  padding: 4px 10px;
  padding-bottom: 10px;
  background: #98dede;
  
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 10.3334px;
line-height: 80%;
  font-weight: 300;
  font-size: 10.3334px;
  color: #1a2236;
  margin-right: 15px;

}

.item3 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 57px;
  height: 20px;
  padding: 4px 10px;
  padding-bottom: 10px;
  background: #98dede;
  
font-family: 'Poppins';
font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  color: #1a2236;
  margin-right: 22px;
  margin-left: 0;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  align-self: center;
  border: 1px solid #fff;
}

.works1 {
  background-color: #1a2236;
  width: 305px;
  height: 156px;
  top: 940px;
  text-align: start;
  padding-top: 10px;
  padding-left: 1px;
  column-gap: 10px;
}

.works1 > div {
  text-align: start;
  font-size: normal;
  justify-content: flex-start;
  list-style-type: none;
}

li {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.item7 {
  display: inline-block;
  flex-direction: row;
  align-self: flex-start;
  justify-content: flex-start;
  width: 59px;
  height: 20px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  background: #98dede;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 10.3334px;
  color: #1a2236;
  margin-right: 15px;
  margin-left: 0;
}

.item8 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 27px;
  height: 20px;
  padding: 6px 10px;
  padding-bottom: 10px;
  background: #98dede;
  font-weight: 300;
  font-size: 10.3334px;
  color: #1a2236;
  margin-right: 15px;
  margin-left: 0;
}

.item9 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 57px;
  height: 20px;
  padding: 6px 10px;
  padding-bottom: 10px;
  background: #98dede;
  font-weight: 300;
  font-size: 10.3334px;
  color: #1a2236;
  margin-right: 22px;
  margin-left: 0;
}

.item10 {
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
  border: 1px solid #fff;
}

.div.item10 {
  width: 305px;
}

.section.aboutme {
  margin-right: 0px;
  width: 320px;
}
.about2 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.01em;
  padding-right: 70px;
  padding-bottom: 20px;
  padding-left: 16px;
}

.languages {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  width: 289px;
  height: 289px;
  margin-top: 40px;
  margin-left: 16px;
  background-color: #1c528a;
}

.lang {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-left: 15%;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 264px;
  height: 16px;
  top: 960px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.lang1 {
  grid-row-start: 2;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 2000px;
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.lang2 {
  grid-row-start: 3;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.lang3 {
  grid-row-start: 4;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.figure1 {
  align-self: flex-end;
}

.frameworks {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-top: 20px;
  margin-left: 16px;
  padding-bottom: 0;
  background-color: #e2505c;
  width: 289px;
  height: 289px;
}

.framework-list {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-left: 15%;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 264px;
  height: 16px;
  left: 20px;
  top: 960px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.fram1 {
  grid-row-start: 2;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.fram2 {
  grid-row-start: 3;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.fram3 {
  grid-row-start: 4;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.fram4 {
  grid-row-start: 5;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.fram5 {
  grid-row-start: 6;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.figure2 {
  display: grid;
  grid-column-start: 2;
  align-self: flex-end;
}

.Skills {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 289px;
  height: 289px;
  margin-top: 20px;
  margin-left: 16px;
  background-color: #febf52;
}

.skill1 {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-left: 15%;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 264px;
  height: 16px;
  left: 20px;
  top: 960px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.skill2 {
  grid-row-start: 2;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.skill3 {
  grid-row-start: 3;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.skill4 {
  grid-row-start: 4;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.skill5 {
  grid-row-start: 5;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.skill6 {
  grid-row-start: 6;
  grid-row-end: 1;
  width: 88px;
  height: 10px;
  left: 65px;
  top: 3891px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.figure3 {
  align-self: flex-end;
  opacity: 0.9;
}
